.about__main {
    background: url('../assets/generals/about-background.svg') no-repeat left top / cover;
    margin-top: -50px;
}

.about__text-container {
    width: min(100%, 19.5rem);
    margin: 0 5rem;
    padding: 8rem 0 ;
}

.about__text-container .text {
    font-size: 1.3rem; 
    line-height: 1.8rem;
    margin-bottom: .5rem;
    color: white;
}

.about__women-animation {
    width: 52%;
    margin-top: 12rem;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    .about__main {
        margin-top: 0;
        background: var(--orange);
        text-align: center;
    }

    .about__text-container {
        margin: 0 auto;
    }
}